@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.eot');
  src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Black.ttf') format('truetype'),
  url('../fonts/Lato-Black.woff') format('woff'),
  url('../fonts/Lato-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Heavy.eot');
  src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Heavy.ttf') format('truetype'),
  url('../fonts/Lato-Heavy.woff') format('woff'),
  url('../fonts/Lato-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Bold.ttf') format('truetype'),
  url('../fonts/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Semibold.eot');
  src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Semibold.ttf') format('truetype'),
  url('../fonts/Lato-Semibold.woff') format('woff'),
  url('../fonts/Lato-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}



@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Medium.eot');
  src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Medium.ttf') format('truetype'),
  url('../fonts/Lato-Medium.woff') format('woff'),
  url('../fonts/Lato-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Regular.ttf') format('truetype'),
  url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.eot');
  src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Light.ttf') format('truetype'),
  url('../fonts/Lato-Light.woff') format('woff'),
  url('../fonts/Lato-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Thin.eot');
  src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Thin.ttf') format('truetype'),
  url('../fonts/Lato-Thin.woff') format('woff'),
  url('../fonts/Lato-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Hairline.eot');
  src: url('../fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lato-Hairline.ttf') format('truetype'),
  url('../fonts/Lato-Hairline.woff') format('woff'),
  url('../fonts/Lato-Hairline.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-vesta' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-angle-up:before {
  content: "\e909";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-angle-left:before {
  content: "\e900";
}
.icon-angle-right:before {
  content: "\e901";
}
.icon-call:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-globe:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-triangle:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
