<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Vesta</title>

    <% styles.forEach(function(file) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/"><img class="img-responsive" src="assets/images/logo-vesta.png"></a>

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarVesta"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <!--<span class="close"><img src="assets/images/cancel.png"></span>-->
            <span class="icon-menu"></span>
            <span class="icon-angle-up"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarVesta">
            <div class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">WHY VESTA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarFeatures" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        FEATURES <span class="icon-triangle"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarFeatures">
                        <a class="nav-link dropdown-item" href="collect.html">Collect</a>
                        <a class="nav-link dropdown-item" href="clean.html">Clean</a>
                        <a class="nav-link dropdown-item" href="connect.html">Connect</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRICING</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarCommunity" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        COMMUNITY <span class="icon-triangle"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarCommunity">
                        <a class="nav-link dropdown-item" href="marketplace.html">Market Place</a>
                        <a class="nav-link dropdown-item" href="findapartner.html">Find a Partner</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="btn btn-orange">BOOK A FREE CONSULTATATION</a>
                </li>

            </div>
        </div>
    </nav>
</header>
<div class="section section-features clean">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-content">
                    <div class="title-features">Clean</div>
                    <div class="subtitle-features">Product data</div>
                    <div class="section-text">
                        <p>Inaccurate, inconsistent data coming in from many sources is transformed through Vesta’s
                            automated data integration and data cleaning processes.</p>
                        <p>With Vesta, greatly increase your data quality, turning it into a valuable asset for your
                            business.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="section-img">
                    <img class="img-responsive" src="assets/images/data-clean.png" alt="data-collect">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-feature-work collect-bg">
    <div class="feature-intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="section-title">
                        How clean works
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="col-sm-10">
                    <p>Merchants face the challenge of receiving vendor product data in divergent states.
                        These differences can be both in format (such as excel, CSV, XML) but also with different names
                        or measures. For instance weights in kg or pounds or ounces, and different names for the same
                        thing such as sku, product or item. </p>
                    <p>Re-working all of this data into a consistent format, ready to feed into a PIM or eCommerce
                        platform, takes many many hours filled with frustration for a merchant to perform manually and
                        is fraught with the potential for inaccuracies</p>
                    <p>Vesta provides the solution, saving hours of frustration, by automating the process of
                        transforming vendor data into an optimized state, ready to feed into your eCommerce store. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-description clean">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature-description-item block-1">
                        <div class="item-img">
                            <img class="img-responsive" src="assets/images/clean-work01.png" alt="clean-work01">
                        </div>
                        <div class="item-title">
                            Map and Merge the incoming data
                        </div>
                        <div class="item-content">
                            <p>The different data fields are mapped and then merged to combine them into a centralized
                                single source of truth for your product data.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature-description-item block-2">
                        <div class="item-img">
                            <img class="img-responsive" src="assets/images/clean-work02.png" alt="clean-work02">
                        </div>
                        <div class="item-title">
                            Data Transformation
                        </div>
                        <div class="item-content">
                            <p>Vesta's transformation engine will translate the data received from a vendor, based on
                                rules set up specifically for that data feed, into the standardized and optimal format
                                for your online store. </p>
                            <p>Transformations include actions such as conversions, adding words, joining fields or
                                replacing words.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature-description-item block-3">
                        <div class="item-img">
                            <img class="img-responsive" src="assets/images/clean-work03.png" alt="clean-work03">
                        </div>
                        <div class="item-title">
                            Identifying Inaccurate Data
                        </div>
                        <div class="item-content">
                            <p>Vesta's Validation Engine identifies errors such as incorrect formats, missing fields or
                                duplicates.</p>
                            <p>These errors are highlighted, ready for easy correction within the Vesta Portal.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-button-nav">
        <div class="container">
            <div class="nav-group">
                <div class="nav-prev">
                    <div class="button-nav-title visible-desktop">
                        Before we clean your data <br/> we start with collecting it
                    </div>
                    <div class="button-nav-title visible-mobi">
                        Before we clean your data we start with collecting it
                    </div>
                    <a class="nav-tag-underline" href="collect.html">
                        <span>
                            <span class="icon-triangle"></span>GO TO <b>COLLECT</b>
                        </span>
                    </a>
                </div>
                <div class="nav-next">
                    <div class="button-nav-title visible-desktop">
                        Once we have cleaned the data, we connect <br/> it to your PIM or online store
                    </div>
                    <div class="button-nav-title visible-mobi">
                        Once we have cleaned the data, we connect it to your PIM or online store
                    </div>
                    <a class="nav-tag-underline" href="connect.html"><span>
                        GO TO <b>CONNECT</b><span class="icon-triangle"></span>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-ask grey">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="section-title">
                    Have any questions? Talk to us!
                </div>
                <div class="section-content">
                    <div class="section-text">
                        Book a no obligation chat with one of our friendly experts.
                        We can conduct a free assessment to understand how Vesta could solve some of your
                        product data challenges, and talk with you about the next steps on getting started.
                    </div>
                    <a class="btn btn-touch" href="#">book a callback</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="section-img visible-desktop">
                    <img class="img-responsive" src="assets/images/robot.png" alt="robot"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-reference visible-desktop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <a class="logo-footer" href="#">
                        <img class="img-responsive" src="assets/images/logo-vesta.png">
                    </a>
                    <div class="icon-social">
                        <ul class="list-unstyled">
                            <li class="list-inline-item icon-margin">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item icon-margin">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item icon-margin">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="feature">
                        <ul class="list-unstyled">
                            <li class=""><a href="#">Collect</a></li>
                            <li class=""><a href="#">Clean</a></li>
                            <li class=""><a href="#">Connect</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class=""><a href="#">Market Place</a></li>
                            <li class=""><a href="#">Find a Partner</a></li>
                            <li class=""><a href="#">Become a Partner</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class=""><a href="#">Pricing</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class=""><a href="#">Why vesta</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-touch">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-reference visible-mobi">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="feature">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="collect.html">Collect</a></li>
                            <li class="list-inline-item"><a href="clean.html">Clean</a></li>
                            <li class="list-inline-item"><a href="connect.html">Connect</a></li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="marketplace.html">Market Place</a></li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="findapartner.html">Find a Partner</a></li>
                            <li class="list-inline-item"><a href="#">Become a Partner</a></li>
                        </ul>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Pricing</a></li>
                            <li class="list-inline-item"><a href="#">Why vesta</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-touch">Contact Us</a>
                </div>
                <div class="col-sm-2">
                    <div class="icon-social">
                        <ul class="list-unstyled">
                            <li class="list-inline-item icon-margin">
                                <a href="#"><span class="icon-facebook"></span></a>
                            </li>
                            <li class="list-inline-item icon-margin">
                                <a href="#"><span class="icon-twitter"></span></a>
                            </li>
                            <li class="list-inline-item icon-margin">
                                <a href="#"><span class="icon-linkedin"></span></a>
                            </li>
                        </ul>
                    </div>
                    <a class="logo-footer" href="#">
                        <img class="img-responsive" src="assets/images/logo-vesta.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <ul class="list-unstyled">
            <li class="list-inline-item "><a href="#">Copyright 2019</a></li>
            <li class="list-inline-item "><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item "><a href="#">Terms of Use</a></li>
        </ul>
    </div>
</footer>
<!-- End your HTML -->

<% scripts.forEach(function(file) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>
</body>
</html>
