<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Vesta</title>

    <% styles.forEach(function(file) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<header>
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-sm-3">
                    <div class="brand-logo">
                        <img class="img-responsive" src="assets/images/logo.png">
                    </div>
                </div>
                <div class="col-sm-3">
                    <span>Đối tác tuyển sinh Quốc tế của hơn <b>500+</b> trường học Mỹ <br/>
                      Được chứng nhận bởi <b>AIRC</b></span>
                </div>
                <div class="col-sm-3">
                    <span>Hotline: 0919 16 3243</span>
                </div>
                <div class="col-sm-3">
                    <a class="btn">Đăng Ký Ngay</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="section section-online-sales">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="section-content">
                    <div class="section-title m-l white w-72">
                        <p class="desktop visible-desktop">Grow your online sales &nbsp;&nbsp;with Vesta</p>
                        <p class="mobile visible-mobi">Grow your online sales <br/> with Vesta</p>
                    </div>
                    <div class="section-text">
                        <!--desktop-->
                        <p class="visible-desktop m-b-35">Vesta automates the collection and cleaning of product data
                            <br/>
                            &nbsp; from your vendors to connect to your online.</p>
                        <p class="visible-desktop m-l-13">So you can spend more time selling <br/>
                            &nbsp; and less time stocking your digital shelves.</p>
                        <!--mobile-->
                        <p class="visible-mobi m-b-20-mobi">Vesta automates the collection and <br/>cleaning of product
                            data
                            <br/>from your vendors to connect to your <br/> online.</p>
                        <p class="visible-mobi">So you can spend more time selling <br/>and less time stocking your
                            digital shelves.</p>
                    </div>
                    <a class="btn btn-touch" href="#">GET IN TOUCH</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <ul class="list-unstyled">
            <li class="list-inline-item "><a href="#">Copyright 2019</a></li>
            <li class="list-inline-item "><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item "><a href="#">Terms of Use</a></li>
        </ul>
    </div>
</footer>
<!-- End your HTML -->

<% scripts.forEach(function(file) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>
</body>
</html>
